.order {
  display: none;
}

.sizes div, .toppings div, .currentOrder div, #addToCart {
  display:inline-block;
  border:1px solid black;
  border-radius:5px;
  padding:10px;
  margin:10px;
  cursor:pointer;
}
.selected {
  background:lightgray;
}
