.order {
  display: none;
}

.sizes div, .toppings div, .currentOrder div, #addToCart {
  display:inline-block;
  border:1px solid black;
  border-radius:5px;
  padding:10px;
  margin:10px;
  cursor:pointer;
}
.selected {
  background:lightgray;
}
#checkout, #buildPizza, .row {
  text-align: center;
  width:300px;
  font-size: 2em;
  border-radius: 10px;
  border:1px solid;
  padding:10px;
  margin:10px auto;
  cursor:pointer;
}

#checkout:hover, #buildPizza:hover, .sizes div:hover, .toppings div:hover, .currentOrder div:hover, #addToCart:hover {
  background:lightgray;
}
#checkout {
  display: none;
}
.row {
  width:500px;
}
.remove {
  position: absolute;
  top:0;
  right:10;
}
